rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Catch-all safety net
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
